<html ng-app="webamp">
<head>
<title>WebAmp</title>

<style>

.playing {
    font-weight: bold;
}

.playlist {
  display: flexbox;
}

.playlist li {
  display:block;
  border: 1px solid lightgray;
}

.playlist li div {
    padding: 10px;
}

</style>


<link rel="stylesheet" type="text/css" href="bower_components/ng-sortable/dist/ng-sortable.min.css">

</head>

<body>
    
<div id="myplaylist" ng-cloak ng-controller="QueueCtrl">
    <h3>Queue</h3>
    <div ng-show="!authed">Ya gotta log in <button ng-click="doauth()">Do it</button></div>
    <div ng-show="loading && authed">Loading...</div>
    <div ng-show="!loading && authed">
      <ul class="playlist" as-sortable="dragControlListeners" ng-model="songs">
        <li ng-repeat="song in songs" as-sortable-item ng-class="{playing: song.playing}"><div as-sortable-item-handle>{{ song.name }} - {{ song.$priority }}</div></li>
      </ul>
    </div>
 </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script type="text/javascript" src="bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
<script src="app.js"></script>

<script src="https://connect.soundcloud.com/sdk.js"></script>
<script>
// initialize client with app credentials

/*
SC.initialize({
  client_id: '7e93c6c53246047912be8885c59ee55a',
  redirect_uri: 'http://localhost:9090/callback.html'
});
*/
/*
// initiate auth popup
SC.connect(function() {
  SC.get('/me', function(me) { 
  	console.log(me);
  });
});
*/
/*
// find all sounds of buskers licensed under 'creative commons share alike'
SC.get('/tracks', { q: 'buskers', license: 'cc-by-sa' }, function(tracks) {
  console.log(tracks);
});


var ref = new Firebase("https://blistering-torch-5309.firebaseio.com/");
*/
</script>

</body>
</html>