<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link href="../../bower_components/drop/css/drop-theme-arrows-bounce.css" rel="stylesheet" />
    <link href="../../bower_components/drop/css/drop-theme-arrows-bounce-dark.css" rel="stylesheet" />
  </head>
  <body ng-app="WebampApp" ng-controller="QueueCtrl" layout="column">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-icon="mdi-account-key" class="mdi"></md-icon>
          </md-button>
          <h2>
            <span>WebAmp</span>
          </h2>
          <span flex></span>

    
          <!-- auth -->
          <div ng-controller="AuthCtrl">
            <md-button class="md-icon-button" aria-label="Account" ng-controller="AuthCtrl">
              
              <md-icon md-font-icon="{{ soundcloud.authed ? 'mdi-account-check' : 'mdi-account' }}" ng-class="{'md-accent':soundcloud.authed, mdi:true}"></md-icon>
              
              <drop classes='drop.classes' position='drop.position'>
              
                <div>
                  <div ng-show="!soundcloud.authed">
                     <button ng-click="soundcloud.auth()">Auth <md-icon md-font-icon="mdi-soundcloud" class="mdi"></md-icon>
                    </button>
                  </div>
                  <div ng-show="soundcloud.authed">
                    <md-icon md-font-icon="mdi-soundcloud" class="mdi md-accent"></md-icon>
                    <strong>{{soundcloud.username}}</strong>
                    <button ng-click="soundcloud.unauth()">Un Auth</button>
                  </div>

                </div>
              </drop>
            </md-button>
          </div>            

          <!-- volume -->
          <div ng-controller="VolumeCtrl">
            <md-button class="md-icon-button" aria-label="Volume">
              <md-icon md-font-icon="{{ volume ? 'mdi-volume-high' : 'mdi-volume-off' }}" ng-class="{mdi:true, 'md-accent':volume}"></md-icon>
               <drop                
                  classes='drop.classes'
                  constrain-to-scroll-parent='drop.constrainToScrollParent'
                  constrain-to-window='drop.constrainToWindow'
                  open-on='drop.openOn'
                  position='drop.position'>
                
                  <div layout="row" flex-sm="100" flex="40" class="md-padding">
                    <md-icon md-font-icon="mdi-volume-low" class="mdi md-primary"></md-icon>
                    <md-slider flex min="0" max="100" ng-model="volume" aria-label="Volume"></md-slider>
                    <md-icon md-font-icon="mdi-volume-high" class="mdi md-primary"></md-icon>
                  </div>
              </drop>
            </md-button>
          </div>
          
          <!-- playlist -->
          <md-button class="md-icon-button" aria-label="Volume" ng-click="togglePlaylist()">
            <md-icon md-font-icon="mdi-view-headline" ng-class="{mdi:true, 'md-accent':playlistLocked()}"></md-icon>

          </md-button>

        </div>
      </md-toolbar>

      <section layout="row" flex>

        <!-- Search -->        
        <md-content flex ng-controller="SearchCtrl" layout="column">

          <md-toolbar layout-fill>
            <form ng-submit="getSearchResults(searchText)">
              <md-content layout="row" layout-align="center center" layout-margin>
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getAutoCompleteMatches(searchText)" md-item-text="item.title" md-selected-item-change="getSearchResults(searchText)" placeholder="Search" flex>
                  <span md-highlight-text="searchText">
                    {{item.title}}
                  </span>
                </md-autocomplete>
                <md-button class="md-icon-button md-fab md-primary md-mini" type="submit" aria-label="Search">
                  <md-icon md-font-icon="mdi-magnify" class="mdi"></md-icon>
                </md-button>
              </md-content>
            </form>
          </md-toolbar>

            <md-content flex focus-on="search-results" tabindex="0">
              
              <md-list class="search-results">
                  <md-list-item ng-repeat="result in searchResults">
                    <p md-highlight-text="searchText" layout-margin layout-padding>{{result.title}}</p>
                    <md-divider></md-divider>
                  </md-list-item>
                </ng-repeat>
              </md-list>
              
              <md-button ng-show="nextResults" ng-click="getNextSearchResults()" layout-align="center center">
                <span>
                  Next
                </span>
              </md-button>
            </md-content>

        </md-content>

        <!-- Playlist -->
        <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2 md-padding" md-component-id="playlist" md-is-locked-open="playlistVisible&&$mdMedia('gt-sm')">

          <md-content flex>
            
            <md-list>
              <md-list-item>
                test 1
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item>
                test 2
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
            
          </md-content>

        </md-sidenav>
    
      </section>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

    <!--
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <script src="bower_components/drop/drop.min.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ng-focus-on/ng-focus-on.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/tether/tether.js"></script>
    <script src="bower_components/drop/drop.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/drop-ng/src/drop-ng.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://connect.soundcloud.com/sdk.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/queue.js"></script>
        <script src="scripts/controllers/queue.js"></script>
        <script src="scripts/services/soundcloud.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/volume.js"></script>
        <!-- endbuild -->
</body>
</html>
