<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="WebampApp" ng-controller="QueueCtrl" layout="column">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <h2>
            <span>Toolbar with Icon Buttons</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
          </md-button>

          <div ng-controller="AuthCtrl">
            <div ng-show="!soundcloud.authed">
               <span>Not authed. </span>
               <button ng-click="soundcloud.auth()">Auth</button>
            </div>
            <div ng-show="soundcloud.authed">
               Authed as <strong>{{soundcloud.username}}</strong>
               <button ng-click="soundcloud.unauth()">Un Auth</button>
            </div>
          </div>

          <button ng-click="volumeSlider($event)">
            <span>V</span>
          </button>
          <button> -->
  <!--           <drop classes='drop-theme-arrows-bounce-dark'
              constrain-to-scroll-parent='true'
              constrain-to-window='true'
              open-on='click'
              position='bottom left'>

              Volume slider goes here

              <span drop-close>Click to close</span>
            </drop>
   -->        </button>
          <button ng-click="togglePlaylist()">
            <span>PL</span>
          </button>

        </div>
      </md-toolbar>

      <section layout="row" flex>

        <!-- Search -->        
        <md-content flex ng-controller="SearchCtrl" layout-padding layout-margin layout="column">

          <md-toolbar layout-fill layout-margin>
            <form ng-submit="getSearchResults(searchText)">
              <md-content layout="row">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getAutoCompleteMatches(searchText)" md-item-text="item.title" md-selected-item-change="getSearchResults(searchText)" placeholder="Search" flex>
                  <span md-highlight-text="searchText">
                    {{item.title}}
                  </span>
                </md-autocomplete>
                <md-button type="submit">
                  <span>Search</span>
                </md-button>
              </md-content>
            </form>
          </md-toolbar>

            <md-content flex focus-on="search-results" tabindex="1">
              <md-list>
                <md-list-item ng-repeat="result in searchResults">
                  <p md-highlight-text="searchText">{{result.title}}</p>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
              <md-button ng-show="nextResults" ng-click="getNextSearchResults()">
                <span>
                  Next
                </span>
              </md-button>
            </md-content>

        </md-content>

        <!-- Playlist -->
        <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2 md-padding" md-component-id="playlist" md-is-locked-open="playlistVisible&&$mdMedia('gt-sm')">

          <md-content class="md-padding md-margin" flex>
            <md-list>
              <md-list-item>
                test 1
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                test 2
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-content>

        </md-sidenav>
    
      </section>
    </div>


<!-- 
    <section layout="row">
      <md-toolbar layout="row">
        <h1 class="md-toolbar-tools">Title</h1>
        <span flex></span>

        <div ng-controller="AuthCtrl">
          <div ng-show="!soundcloud.authed">
             <span>Not authed. </span>
             <button ng-click="soundcloud.auth()">Auth</button>
          </div>
          <div ng-show="soundcloud.authed">
             Authed as <strong>{{soundcloud.username}}</strong>
             <button ng-click="soundcloud.unauth()">Un Auth</button>
          </div>
        </div>

        <button ng-click="volumeSlider($event)">
          <span>V</span>
        </button>
        <button> -->
<!--           <drop classes='drop-theme-arrows-bounce-dark'
            constrain-to-scroll-parent='true'
            constrain-to-window='true'
            open-on='click'
            position='bottom left'>

            Volume slider goes here

            <span drop-close>Click to close</span>
          </drop>
 -->        <!-- </button>
        <button ng-click="togglePlaylist()">
          <span>PL</span>
        </button>
        

      </md-toolbar>
    </section>
    
    <section layout="row" ng-controller='SearchCtrl' flex>

    <div layout="column" flex>

      <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getAutoCompleteMatches(searchText)" md-item-text="item.title" md-selected-item-change="getSearchResults(searchText)" placeholder="Search">
          <span flex md-highlight-text="searchText">{{item.title}}</span>
      </md-autocomplete>

          <md-list> 
            <md-list-item class="md-2-line" ng-repeat="result in searchResults">
              <p>{{result.title}}</p>
              <md-divider>
            </md-list-item>
          </md-list>
          <md-button ng-show="nextResults" ng-click="getNextSearchResults()">
            Next
          </md-button>

    </div>

    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2 md-padding" md-component-id="playlist" md-is-locked-open="playlistVisible&&$mdMedia('gt-sm')">

      <md-content class="md-padding md-margin" flex>
        <md-list>
          <md-list-item>
            test 1
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            test 2
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </md-content>

    </md-sidenav>
  </section> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

    <!--
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/tether/tether.js"></script>
    <script src="bower_components/drop/drop.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/drop-ng/src/drop-ng.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ng-focus-on/ng-focus-on.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://connect.soundcloud.com/sdk.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/queue.js"></script>
        <script src="scripts/controllers/queue.js"></script>
        <script src="scripts/services/soundcloud.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <!-- endbuild -->
</body>
</html>
